%% -*- erlang -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {unrar, {git, "https://github.com/Svampen/unrar.git", {branch, "master"}}},
    {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}},
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}},
    {yamerl, {git, "https://github.com/yakaz/yamerl", {tag, "v0.4.0"}}}
]}.

{escript_incl_apps, [unrar, gun, jsx, lager, yamerl, mockgyver]}.
{escript_name, unpacker}.
