{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {unrar, {git, "https://github.com/Svampen/unrar.git", {branch, "master"}}},
    {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}},
    {yamerl, {git, "https://github.com/yakaz/yamerl", {tag, "v0.4.0"}}}
]}.