%% -*- erlang -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    gun,
    jsx,
    lager,
    mockgyver,
    yamerl,
    {unrar, {git, "https://github.com/Svampen/unrar.git", {branch, "master"}}}
]}.

{escript_incl_apps, [unrar, gun, jsx, lager, yamerl, mockgyver]}.
{escript_name, unpacker}.
